<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr">
<head>

		<meta http-equiv="Content-Type" content="text/html; charset=windows-1254" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-9" />
		<meta http-equiv="Content-Type" content="text/html; charset=x-mac-turkish" />
<title>Hello from Flask</title>
</head>
<body>
	<h1>Hello {{ name }}!</h1>
</body>
</html>
